In [7]:
import os
import asyncio
from sqlalchemy import create_engine
from typing import Any
import asyncpg
from dotenv import load_dotenv, find_dotenv
from langchain_community.utilities.sql_database import SQLDatabase

In [8]:
_ = load_dotenv(find_dotenv())
postgres_uri = os.environ.get("DATABASE")

In [9]:
import pandas as pd

In [10]:
class PostgreSQL:
    def __init__(self,
                 *,
                 uri: Any | None=None,
                 **kwargs,
                 )-> None:
        self._dialect = "postgresql"
        self.uri = uri
        self.config = kwargs
        self.conn = None

    @property
    def dialect(self, ):
        return self._dialect

    async def connect(self, ) -> None:
        self.conn = await asyncpg.connect(
            dsn=self.uri,
            **self.config,                                          
        )

    async def create_table_schema(self, table_name: str) -> str:
        # Get columns
        columns = await self.conn.fetch(f"""
            SELECT column_name, data_type, is_nullable, character_maximum_length
            FROM information_schema.columns
            WHERE table_name = '{table_name}'
            ORDER BY ordinal_position;
        """)

        # Get primary keys
        pk_rows = await self.conn.fetch(f"""
            SELECT a.attname
            FROM pg_index i
            JOIN pg_attribute a ON a.attrelid = i.indrelid AND a.attnum = ANY(i.indkey)
            WHERE i.indrelid = '{table_name}'::regclass AND i.indisprimary;
        """)
        primary_keys = [row['attname'] for row in pk_rows]

        # Get foreign keys
        fk_rows = await self.conn.fetch(f"""
            SELECT
                kcu.column_name,
                ccu.table_name AS foreign_table,
                ccu.column_name AS foreign_column
            FROM information_schema.table_constraints AS tc
            JOIN information_schema.key_column_usage AS kcu
                ON tc.constraint_name = kcu.constraint_name
            JOIN information_schema.constraint_column_usage AS ccu
                ON ccu.constraint_name = tc.constraint_name
            WHERE tc.constraint_type = 'FOREIGN KEY' AND tc.table_name = '{table_name}';
        """)

        # Build column definitions
        col_defs = []
        for col in columns:
            name = f'"{col["column_name"]}"'
            dtype = col["data_type"].upper()
            if dtype == "CHARACTER VARYING":
                dtype = f'NVARCHAR({col["character_maximum_length"]})'
            elif dtype == "CHARACTER":
                dtype = f'NCHAR({col["character_maximum_length"]})'
            elif dtype == "TEXT":
                dtype = "TEXT"
            elif dtype == "INTEGER":
                dtype = "INTEGER"
            # Add more type mappings if needed

            nullable = "NOT NULL" if col["is_nullable"] == "NO" else ""
            col_defs.append(f"{name} {dtype} {nullable}".strip())

        # Add primary key
        if primary_keys:
            pk = ', '.join(f'"{key}"' for key in primary_keys)
            col_defs.append(f"PRIMARY KEY ({pk})")

        # Add foreign keys
        for fk in fk_rows:
            col_defs.append(
                f'FOREIGN KEY("{fk["column_name"]}") REFERENCES "{fk["foreign_table"]}" ("{fk["foreign_column"]}")'
            )

        # Final SQL
        sql = f'CREATE TABLE "{table_name}" (\n\t' + ',\n\t'.join(col_defs) + '\n);'     
        return sql
    
    
    async def list_tables(self, )-> list[str]:
        rows = await self.conn.fetch("""
            SELECT tablename
            FROM pg_catalog.pg_tables
            WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';
        """)
        return [row['tablename'].title() for row in rows]

    async def get_example(self, table_name: str) -> str:
         # Execute a query
        values = await self.conn.fetch(
            f"SELECT * FROM {table_name} LIMIT 3;",

        )
        examples = []
        for item in values:
            examples.append(list(item.items()))

        records = [dict(row) for row in examples]
        
        table = pd.DataFrame(records).to_string()

        return ("/*\n" + f"3 rows from '{table_name}' table:\n" + table + "\n"+
                "*/"
        )

    async def get_all_table_schema_example(self) -> str:
        table_names = await self.list_tables()
        all_schema = ""
        for t_names in table_names:
            tab = await self.create_table_schema(t_names.lower())
            example = await self.get_example(t_names.lower())

            all_schema += tab + "\n\n" + example + "\n\n"
            
        return all_schema

    async def execute(self, query: str) -> asyncpg.Record:
        # Execute a query
        values = await self.conn.fetch(
            query,

        )
        await self.clean_up()
        return values
    
    async def clean_up(self) -> None:
        await self.conn.close()
        
psql = PostgreSQL(uri=postgres_uri)
await psql.connect()

In [11]:
await psql.list_tables()

['Artist',
 'Album',
 'Employee',
 'Customer',
 'Invoice',
 'Invoice_Line',
 'Track',
 'Playlist',
 'Playlist_Track',
 'Genre',
 'Media_Type']

In [12]:
res = await psql.get_example("customer")
print(res)

/*
3 rows from 'customer' table:
   customer_id first_name  last_name                                           company                          address                 city state  country postal_code               phone                 fax                  email  support_rep_id
0            1       Luís  Gonçalves  Embraer - Empresa Brasileira de Aeronáutica S.A.  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP   Brazil   12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566   luisg@embraer.com.br               3
1            2     Leonie     Köhler                                              None          Theodor-Heuss-Straße 34            Stuttgart  None  Germany       70174    +49 0711 2842222                None  leonekohler@surfeu.de               5
2            3   François   Tremblay                                              None                1498 rue Bélanger             Montréal    QC   Canada     H2G 1A7   +1 (514) 721-4711                None    ftremblay@gmail.com               3
*/

In [13]:
print(psql.dialect)

postgresql

In [14]:
schema = await psql.create_table_schema("album")
print(schema)

CREATE TABLE "album" (
	"album_id" INTEGER NOT NULL,
	"title" NVARCHAR(160) NOT NULL,
	"artist_id" INTEGER NOT NULL,
	PRIMARY KEY ("album_id"),
	FOREIGN KEY("artist_id") REFERENCES "artist" ("artist_id")
);

In [15]:
schemas_examples = await psql.get_all_table_schema_example()
print(schemas_examples)

CREATE TABLE "artist" (
	"artist_id" INTEGER NOT NULL,
	"name" NVARCHAR(120),
	PRIMARY KEY ("artist_id")
);

/*
3 rows from 'artist' table:
   artist_id       name
0          1      AC/DC
1          2     Accept
2          3  Aerosmith
*/

CREATE TABLE "album" (
	"album_id" INTEGER NOT NULL,
	"title" NVARCHAR(160) NOT NULL,
	"artist_id" INTEGER NOT NULL,
	PRIMARY KEY ("album_id"),
	FOREIGN KEY("artist_id") REFERENCES "artist" ("artist_id")
);

/*
3 rows from 'album' table:
   album_id                                  title  artist_id
0         1  For Those About To Rock We Salute You          1
1         2                      Balls to the Wall          2
2         3                      Restless and Wild          2
*/

CREATE TABLE "employee" (
	"employee_id" INTEGER NOT NULL,
	"last_name" NVARCHAR(20) NOT NULL,
	"first_name" NVARCHAR(20) NOT NULL,
	"title" NVARCHAR(30),
	"reports_to" INTEGER,
	"birth_date" TIMESTAMP WITHOUT TIME ZONE,
	"hire_date" TIMESTAMP WITHOUT TIME ZONE,
	"address" NVARCHAR(70),
	"city" NVARCHAR(40),
	"state" NVARCHAR(40),
	"country" NVARCHAR(40),
	"postal_code" NVARCHAR(10),
	"phone" NVARCHAR(24),
	"fax" NVARCHAR(24),
	"email" NVARCHAR(60),
	PRIMARY KEY ("employee_id"),
	FOREIGN KEY("reports_to") REFERENCES "employee" ("employee_id")
);

/*
3 rows from 'employee' table:
   employee_id last_name first_name                title  reports_to birth_date  hire_date              address      city state country postal_code              phone                fax                   email
0            1     Adams     Andrew      General Manager         NaN 1962-02-18 2002-08-14  11120 Jasper Ave NW  Edmonton    AB  Canada     T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457  andrew@chinookcorp.com
1            2   Edwards      Nancy        Sales Manager         1.0 1958-12-08 2002-05-01         825 8 Ave SW   Calgary    AB  Canada     T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322   nancy@chinookcorp.com
2            3   Peacock       Jane  Sales Support Agent         2.0 1973-08-29 2002-04-01        1111 6 Ave SW   Calgary    AB  Canada     T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712    jane@chinookcorp.com
*/

CREATE TABLE "customer" (
	"customer_id" INTEGER NOT NULL,
	"first_name" NVARCHAR(40) NOT NULL,
	"last_name" NVARCHAR(20) NOT NULL,
	"company" NVARCHAR(80),
	"address" NVARCHAR(70),
	"city" NVARCHAR(40),
	"state" NVARCHAR(40),
	"country" NVARCHAR(40),
	"postal_code" NVARCHAR(10),
	"phone" NVARCHAR(24),
	"fax" NVARCHAR(24),
	"email" NVARCHAR(60) NOT NULL,
	"support_rep_id" INTEGER,
	PRIMARY KEY ("customer_id"),
	FOREIGN KEY("support_rep_id") REFERENCES "employee" ("employee_id")
);

/*
3 rows from 'customer' table:
   customer_id first_name  last_name                                           company                          address                 city state  country postal_code               phone                 fax                  email  support_rep_id
0            1       Luís  Gonçalves  Embraer - Empresa Brasileira de Aeronáutica S.A.  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP   Brazil   12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566   luisg@embraer.com.br               3
1            2     Leonie     Köhler                                              None          Theodor-Heuss-Straße 34            Stuttgart  None  Germany       70174    +49 0711 2842222                None  leonekohler@surfeu.de               5
2            3   François   Tremblay                                              None                1498 rue Bélanger             Montréal    QC   Canada     H2G 1A7   +1 (514) 721-4711                None    ftremblay@gmail.com               3
*/

CREATE TABLE "invoice" (
	"invoice_id" INTEGER NOT NULL,
	"customer_id" INTEGER NOT NULL,
	"invoice_date" TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	"billing_address" NVARCHAR(70),
	"billing_city" NVARCHAR(40),
	"billing_state" NVARCHAR(40),
	"billing_country" NVARCHAR(40),
	"billing_postal_code" NVARCHAR(10),
	"total" NUMERIC NOT NULL,
	PRIMARY KEY ("invoice_id"),
	FOREIGN KEY("customer_id") REFERENCES "customer" ("customer_id")
);

/*
3 rows from 'invoice' table:
   invoice_id  customer_id invoice_date          billing_address billing_city billing_state billing_country billing_postal_code total
0           1            2   2021-01-01  Theodor-Heuss-Straße 34    Stuttgart          None         Germany               70174  1.98
1           2            4   2021-01-02         Ullevålsveien 14         Oslo          None          Norway                0171  3.96
2           3            8   2021-01-03          Grétrystraat 63     Brussels          None         Belgium                1000  5.94
*/

CREATE TABLE "invoice_line" (
	"invoice_line_id" INTEGER NOT NULL,
	"invoice_id" INTEGER NOT NULL,
	"track_id" INTEGER NOT NULL,
	"unit_price" NUMERIC NOT NULL,
	"quantity" INTEGER NOT NULL,
	PRIMARY KEY ("invoice_line_id"),
	FOREIGN KEY("invoice_id") REFERENCES "invoice" ("invoice_id"),
	FOREIGN KEY("track_id") REFERENCES "track" ("track_id")
);

/*
3 rows from 'invoice_line' table:
   invoice_line_id  invoice_id  track_id unit_price  quantity
0                1           1         2       0.99         1
1                2           1         4       0.99         1
2                3           2         6       0.99         1
*/

CREATE TABLE "track" (
	"track_id" INTEGER NOT NULL,
	"name" NVARCHAR(200) NOT NULL,
	"album_id" INTEGER,
	"media_type_id" INTEGER NOT NULL,
	"genre_id" INTEGER,
	"composer" NVARCHAR(220),
	"milliseconds" INTEGER NOT NULL,
	"bytes" INTEGER,
	"unit_price" NUMERIC NOT NULL,
	PRIMARY KEY ("track_id"),
	FOREIGN KEY("album_id") REFERENCES "album" ("album_id"),
	FOREIGN KEY("genre_id") REFERENCES "genre" ("genre_id"),
	FOREIGN KEY("media_type_id") REFERENCES "media_type" ("media_type_id")
);

/*
3 rows from 'track' table:
   track_id                                     name  album_id  media_type_id  genre_id                                                                      composer  milliseconds     bytes unit_price
0         1  For Those About To Rock (We Salute You)         1              1         1                                     Angus Young, Malcolm Young, Brian Johnson        343719  11170334       0.99
1         2                        Balls to the Wall         2              2         1  U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann        342562   5510424       0.99
2         3                          Fast As a Shark         3              2         1                           F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman        230619   3990994       0.99
*/

CREATE TABLE "playlist" (
	"playlist_id" INTEGER NOT NULL,
	"name" NVARCHAR(120),
	PRIMARY KEY ("playlist_id")
);

/*
3 rows from 'playlist' table:
   playlist_id      name
0            1     Music
1            2    Movies
2            3  TV Shows
*/

CREATE TABLE "playlist_track" (
	"playlist_id" INTEGER NOT NULL,
	"track_id" INTEGER NOT NULL,
	PRIMARY KEY ("playlist_id", "track_id"),
	FOREIGN KEY("playlist_id") REFERENCES "playlist" ("playlist_id"),
	FOREIGN KEY("track_id") REFERENCES "track" ("track_id")
);

/*
3 rows from 'playlist_track' table:
   playlist_id  track_id
0            1      3402
1            1      3389
2            1      3390
*/

CREATE TABLE "genre" (
	"genre_id" INTEGER NOT NULL,
	"name" NVARCHAR(120),
	PRIMARY KEY ("genre_id")
);

/*
3 rows from 'genre' table:
   genre_id   name
0         1   Rock
1         2   Jazz
2         3  Metal
*/

CREATE TABLE "media_type" (
	"media_type_id" INTEGER NOT NULL,
	"name" NVARCHAR(120),
	PRIMARY KEY ("media_type_id")
);

/*
3 rows from 'media_type' table:
   media_type_id                         name
0              1              MPEG audio file
1              2     Protected AAC audio file
2              3  Protected MPEG-4 video file
*/

In [43]:
from langchain.chat_models import init_chat_model

model = "gpt-4o"
model_provider = "openai"
# Instantiate the chat model
llm = init_chat_model(f"{model_provider}:{model}")

In [12]:
# test that it works
output = await llm.ainvoke("hi!") # call the model
output.content  # Get the content

'Hello! How can I assist you today?'

In [17]:
async for step in llm.astream("hello how are you"):
    print(step.content, end=" ")

 Hello !  I'm  just  a  computer  program ,  so  I  don't  have  feelings ,  but  I'm  here  and  ready  to  help  you .  How  can  I  assist  you  today ?

In [1]:
from business_copilot.biz_analytics.db_tools import (list_tables, 
                                                     get_relevant_schema_example, 
                                                     resolve_error, 
                                                     execute_query,
                                                     double_check_query,
                                                     clean_up)
from business_copilot.biz_analytics.prompts import POSTGRES_SYSTEM_MESSAGE
from langchain_core.prompts import PromptTemplate
from langgraph.prebuilt import create_react_agent

In [2]:
import pprint
pprint.pprint(POSTGRES_SYSTEM_MESSAGE)

('\n'
 'You are an agent designed to interact with a POSTGRESQL database.\n'
 'Given an input question, create a syntactically correct query to run,\n'
 'then look at the results of the query and return the answer. Unless the '
 'user\n'
 'specifies a specific number of examples they wish to obtain, always limit '
 'your\n'
 'query to at most 5 results.\n'
 '\n'
 'To start you should ALWAYS look at the list of tables in the database to to '
 'be sure your predicted table exist \n'
 'so you can query. Do NOT skip this step.\n'
 '\n'
 'check the list of tables again to be sure they are all relevant before\n'
 'YOU get example and schema for each of the table you predicted and that '
 'exist. \n'
 'to have a context you can work with.\n'
 'ONLY Then you execute the query with the most relevant table.\n'
 '\n'
 'You can order the results by a relevant column to return the most '
 'interesting\n'
 'examples in the database. Never query for all the columns from a specific '
 'table,\n'
 'only ask for the relevant columns given the question.\n'
 '\n'
 'You MUST double check your query before executing it. DO NOT FORGET to do '
 'this\n'
 '\n'
 'Note:\n'
 '    If you get an error while executing the final query, that is when using '
 'the execute_query tool \n'
 '    ONLY then can you use the resolve_error tool. to try again and resolve '
 'the error.\n'
 '\n'
 'DO NOT make any DOMAIN DEFINITION LANGUAGE (DDL) statements such  as '
 '(CREATE, ALTER, DROP, TRUNCATE, RENAME)\n'
 'AND DML statements (INSERT, UPDATE, DELETE etc.) to the database.\n'
 '\n'
 'Before you return the answer to the query YOU MUST make sure to close the '
 'connection to the database server.\n')

In [2]:
# Get the tools
tools = [
    list_tables, get_relevant_schema_example,
    resolve_error, execute_query, 
    double_check_query, clean_up
]

In [10]:
from langchain.chat_models import init_chat_model
# Create graph
model = "gpt-4o"
llm = init_chat_model(f"openai:{model}", temperature=0.0)
#agent_executor = create_react_agent(llm , tools=tools, prompt=POSTGRES_SYSTEM_MESSAGE)

In [5]:
question =  "Which country's customers spent the most?"
async for step in agent_executor.astream(
    {"messages": [{"role": "user", "content": question}]},
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

Which country's customers spent the most?
================================== Ai Message ==================================
Tool Calls:
  list_tables (call_V9XuWjU3fvcti809ruQvDpE4)
 Call ID: call_V9XuWjU3fvcti809ruQvDpE4
  Args:
================================= Tool Message =================================
Name: list_tables

["artist", "album", "employee", "customer", "invoice", "invoice_line", "track", "playlist", "playlist_track", "genre", "media_type"]
================================== Ai Message ==================================
Tool Calls:
  get_relevant_schema_example (call_Z8Zu1gra6HcMW0DgqegJXEhV)
 Call ID: call_Z8Zu1gra6HcMW0DgqegJXEhV
  Args:
    table_names: ['customer', 'invoice']
================================= Tool Message =================================
Name: get_relevant_schema_example

CREATE TABLE "customer" (
	"customer_id" INTEGER NOT NULL,
	"first_name" NVARCHAR(40) NOT NULL,
	"last_name" NVARCHAR(20) NOT NULL,
	"company" NVARCHAR(80),
	"address" NVARCHAR(70),
	"city" NVARCHAR(40),
	"state" NVARCHAR(40),
	"country" NVARCHAR(40),
	"postal_code" NVARCHAR(10),
	"phone" NVARCHAR(24),
	"fax" NVARCHAR(24),
	"email" NVARCHAR(60) NOT NULL,
	"support_rep_id" INTEGER,
	PRIMARY KEY ("customer_id"),
	FOREIGN KEY("support_rep_id") REFERENCES "employee" ("employee_id")
);

/*
3 rows from 'customer' table:
   customer_id first_name  last_name                                           company                          address                 city state  country postal_code               phone                 fax                  email  support_rep_id
0            1       Luís  Gonçalves  Embraer - Empresa Brasileira de Aeronáutica S.A.  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP   Brazil   12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566   luisg@embraer.com.br               3
1            2     Leonie     Köhler                                              None          Theodor-Heuss-Straße 34            Stuttgart  None  Germany       70174    +49 0711 2842222                None  leonekohler@surfeu.de               5
2            3   François   Tremblay                                              None                1498 rue Bélanger             Montréal    QC   Canada     H2G 1A7   +1 (514) 721-4711                None    ftremblay@gmail.com               3
*/

CREATE TABLE "invoice" (
	"invoice_id" INTEGER NOT NULL,
	"customer_id" INTEGER NOT NULL,
	"invoice_date" TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	"billing_address" NVARCHAR(70),
	"billing_city" NVARCHAR(40),
	"billing_state" NVARCHAR(40),
	"billing_country" NVARCHAR(40),
	"billing_postal_code" NVARCHAR(10),
	"total" NUMERIC NOT NULL,
	PRIMARY KEY ("invoice_id"),
	FOREIGN KEY("customer_id") REFERENCES "customer" ("customer_id")
);

/*
3 rows from 'invoice' table:
   invoice_id  customer_id invoice_date          billing_address billing_city billing_state billing_country billing_postal_code total
0           1            2   2021-01-01  Theodor-Heuss-Straße 34    Stuttgart          None         Germany               70174  1.98
1           2            4   2021-01-02         Ullevålsveien 14         Oslo          None          Norway                0171  3.96
2           3            8   2021-01-03          Grétrystraat 63     Brussels          None         Belgium                1000  5.94
*/


================================== Ai Message ==================================
Tool Calls:
  double_check_query (call_EIyUc40gpOq7M2Xn291O6IUZ)
 Call ID: call_EIyUc40gpOq7M2Xn291O6IUZ
  Args:
    query: SELECT c.country, SUM(i.total) AS total_spent FROM customer c JOIN invoice i ON c.customer_id = i.customer_id GROUP BY c.country ORDER BY total_spent DESC LIMIT 5;
================================= Tool Message =================================
Name: double_check_query



The original query looks good as it is.

```sql
SELECT c.country, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customer_id = i.customer_id
GROUP BY c.country
ORDER BY total_spent DESC
LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  execute_query (call_XahpfNS6rMI7FonQS7N7BR8t)
 Call ID: call_XahpfNS6rMI7FonQS7N7BR8t
  Args:
    query: SELECT c.country, SUM(i.total) AS total_spent FROM customer c JOIN invoice i ON c.customer_id = i.customer_id GROUP BY c.country ORDER BY total_spent DESC LIMIT 5;
================================= Tool Message =================================
Name: execute_query

[<Record country='USA' total_spent=Decimal('523.06')>, <Record country='Canada' total_spent=Decimal('303.96')>, <Record country='France' total_spent=Decimal('195.10')>, <Record country='Brazil' total_spent=Decimal('190.10')>, <Record country='Germany' total_spent=Decimal('156.48')>]
================================== Ai Message ==================================
Tool Calls:
  clean_up (call_ynXyQ8Z6iiXXAvzUbvChXi4C)
 Call ID: call_ynXyQ8Z6iiXXAvzUbvChXi4C
  Args:
================================= Tool Message =================================
Name: clean_up

null
================================== Ai Message ==================================

The country whose customers spent the most is the USA, with a total spending of 523.06.

### Memory

In [3]:


from langgraph.prebuilt.chat_agent_executor import AgentState
from langmem.short_term import SummarizationNode, RunningSummary
from langchain_core.messages.utils import count_tokens_approximately
from langgraph.prebuilt.chat_agent_executor import AgentState
from langgraph.checkpoint.memory import InMemorySaver
from typing import Any

In [5]:
from langchain.chat_models import init_chat_model
summarization_llm = init_chat_model("openai:gpt-4o", temperature=0.0)

In [6]:
summarization_node = SummarizationNode( 
    token_counter=count_tokens_approximately,
    model=summarization_llm,
    max_tokens=356,  # make it higher depends on question
    max_summary_tokens=256,
    output_messages_key="summarized_llm_messages",
)

In [7]:
class State(AgentState):
    # NOTE: We're adding this key to keep track of previous summary information
    # to make sure we're not summarizing on every LLM call
    context: dict[str, RunningSummary]

In [8]:
checkpointer = InMemorySaver()

In [11]:
agent_mem = create_react_agent(
    llm, tools=tools, 
    prompt=POSTGRES_SYSTEM_MESSAGE, 
    pre_model_hook=summarization_node,
    state_schema=State,
    checkpointer=checkpointer,
                              )

config = {
    "configurable": {
        "thread_id": "1"
    }
}

In [12]:
question =  "Which country's customers spent the most?"
async for step in agent_mem.astream(
    {"messages": [{"role": "user", "content": question}]},
    config=config,
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

Which country's customers spent the most?
================================== Ai Message ==================================
Tool Calls:
  list_tables (call_Fg4TK5HhifrbgBFk0O1zo6Uk)
 Call ID: call_Fg4TK5HhifrbgBFk0O1zo6Uk
  Args:
================================= Tool Message =================================
Name: list_tables

["artist", "album", "employee", "customer", "invoice", "invoice_line", "track", "playlist", "playlist_track", "genre", "media_type"]
================================== Ai Message ==================================
Tool Calls:
  get_relevant_schema_example (call_W07OtF6mSE3XmX0VPGenah9K)
 Call ID: call_W07OtF6mSE3XmX0VPGenah9K
  Args:
    table_names: ['customer', 'invoice']
================================= Tool Message =================================
Name: get_relevant_schema_example

CREATE TABLE "customer" (
	"customer_id" INTEGER NOT NULL,
	"first_name" NVARCHAR(40) NOT NULL,
	"last_name" NVARCHAR(20) NOT NULL,
	"company" NVARCHAR(80),
	"address" NVARCHAR(70),
	"city" NVARCHAR(40),
	"state" NVARCHAR(40),
	"country" NVARCHAR(40),
	"postal_code" NVARCHAR(10),
	"phone" NVARCHAR(24),
	"fax" NVARCHAR(24),
	"email" NVARCHAR(60) NOT NULL,
	"support_rep_id" INTEGER,
	PRIMARY KEY ("customer_id"),
	FOREIGN KEY("support_rep_id") REFERENCES "employee" ("employee_id")
);

/*
3 rows from 'customer' table:
   customer_id first_name  last_name                                           company                          address                 city state  country postal_code               phone                 fax                  email  support_rep_id
0            1       Luís  Gonçalves  Embraer - Empresa Brasileira de Aeronáutica S.A.  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP   Brazil   12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566   luisg@embraer.com.br               3
1            2     Leonie     Köhler                                              None          Theodor-Heuss-Straße 34            Stuttgart  None  Germany       70174    +49 0711 2842222                None  leonekohler@surfeu.de               5
2            3   François   Tremblay                                              None                1498 rue Bélanger             Montréal    QC   Canada     H2G 1A7   +1 (514) 721-4711                None    ftremblay@gmail.com               3
*/

CREATE TABLE "invoice" (
	"invoice_id" INTEGER NOT NULL,
	"customer_id" INTEGER NOT NULL,
	"invoice_date" TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	"billing_address" NVARCHAR(70),
	"billing_city" NVARCHAR(40),
	"billing_state" NVARCHAR(40),
	"billing_country" NVARCHAR(40),
	"billing_postal_code" NVARCHAR(10),
	"total" NUMERIC NOT NULL,
	PRIMARY KEY ("invoice_id"),
	FOREIGN KEY("customer_id") REFERENCES "customer" ("customer_id")
);

/*
3 rows from 'invoice' table:
   invoice_id  customer_id invoice_date          billing_address billing_city billing_state billing_country billing_postal_code total
0           1            2   2021-01-01  Theodor-Heuss-Straße 34    Stuttgart          None         Germany               70174  1.98
1           2            4   2021-01-02         Ullevålsveien 14         Oslo          None          Norway                0171  3.96
2           3            8   2021-01-03          Grétrystraat 63     Brussels          None         Belgium                1000  5.94
*/

/home/nnaemeka/Desktop/business-copilot/.venv/lib/python3.13/site-packages/langmem/short_term/summarization.py:246: RuntimeWarning: Failed to trim messages to fit within max_tokens limit before summarization - falling back to the original message list. This may lead to exceeding the context window of the summarization LLM.
  warnings.warn(

================================= Tool Message =================================
Name: get_relevant_schema_example

CREATE TABLE "customer" (
	"customer_id" INTEGER NOT NULL,
	"first_name" NVARCHAR(40) NOT NULL,
	"last_name" NVARCHAR(20) NOT NULL,
	"company" NVARCHAR(80),
	"address" NVARCHAR(70),
	"city" NVARCHAR(40),
	"state" NVARCHAR(40),
	"country" NVARCHAR(40),
	"postal_code" NVARCHAR(10),
	"phone" NVARCHAR(24),
	"fax" NVARCHAR(24),
	"email" NVARCHAR(60) NOT NULL,
	"support_rep_id" INTEGER,
	PRIMARY KEY ("customer_id"),
	FOREIGN KEY("support_rep_id") REFERENCES "employee" ("employee_id")
);

/*
3 rows from 'customer' table:
   customer_id first_name  last_name                                           company                          address                 city state  country postal_code               phone                 fax                  email  support_rep_id
0            1       Luís  Gonçalves  Embraer - Empresa Brasileira de Aeronáutica S.A.  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP   Brazil   12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566   luisg@embraer.com.br               3
1            2     Leonie     Köhler                                              None          Theodor-Heuss-Straße 34            Stuttgart  None  Germany       70174    +49 0711 2842222                None  leonekohler@surfeu.de               5
2            3   François   Tremblay                                              None                1498 rue Bélanger             Montréal    QC   Canada     H2G 1A7   +1 (514) 721-4711                None    ftremblay@gmail.com               3
*/

CREATE TABLE "invoice" (
	"invoice_id" INTEGER NOT NULL,
	"customer_id" INTEGER NOT NULL,
	"invoice_date" TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	"billing_address" NVARCHAR(70),
	"billing_city" NVARCHAR(40),
	"billing_state" NVARCHAR(40),
	"billing_country" NVARCHAR(40),
	"billing_postal_code" NVARCHAR(10),
	"total" NUMERIC NOT NULL,
	PRIMARY KEY ("invoice_id"),
	FOREIGN KEY("customer_id") REFERENCES "customer" ("customer_id")
);

/*
3 rows from 'invoice' table:
   invoice_id  customer_id invoice_date          billing_address billing_city billing_state billing_country billing_postal_code total
0           1            2   2021-01-01  Theodor-Heuss-Straße 34    Stuttgart          None         Germany               70174  1.98
1           2            4   2021-01-02         Ullevålsveien 14         Oslo          None          Norway                0171  3.96
2           3            8   2021-01-03          Grétrystraat 63     Brussels          None         Belgium                1000  5.94
*/


================================== Ai Message ==================================
Tool Calls:
  double_check_query (call_a8cEcWdySjU4ozFFTmFftF5u)
 Call ID: call_a8cEcWdySjU4ozFFTmFftF5u
  Args:
    query: SELECT c.country, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customer_id = i.customer_id
GROUP BY c.country
ORDER BY total_spent DESC
LIMIT 5;
================================= Tool Message =================================
Name: double_check_query



The original query looks good as it is.

```sql
SELECT c.country, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customer_id = i.customer_id
GROUP BY c.country
ORDER BY total_spent DESC
LIMIT 5;
```
================================= Tool Message =================================
Name: double_check_query



The original query looks good as it is.

```sql
SELECT c.country, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customer_id = i.customer_id
GROUP BY c.country
ORDER BY total_spent DESC
LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  execute_query (call_u4LZ92XYEpqOYByIpBDmaLMm)
 Call ID: call_u4LZ92XYEpqOYByIpBDmaLMm
  Args:
    query: SELECT c.country, SUM(i.total) AS total_spent
FROM customer c
JOIN invoice i ON c.customer_id = i.customer_id
GROUP BY c.country
ORDER BY total_spent DESC
LIMIT 5;
================================= Tool Message =================================
Name: execute_query

[<Record country='USA' total_spent=Decimal('523.06')>, <Record country='Canada' total_spent=Decimal('303.96')>, <Record country='France' total_spent=Decimal('195.10')>, <Record country='Brazil' total_spent=Decimal('190.10')>, <Record country='Germany' total_spent=Decimal('156.48')>]
================================= Tool Message =================================
Name: execute_query

[<Record country='USA' total_spent=Decimal('523.06')>, <Record country='Canada' total_spent=Decimal('303.96')>, <Record country='France' total_spent=Decimal('195.10')>, <Record country='Brazil' total_spent=Decimal('190.10')>, <Record country='Germany' total_spent=Decimal('156.48')>]
================================== Ai Message ==================================
Tool Calls:
  clean_up (call_YS7YSIZMJMuveeslP9zHBkRc)
 Call ID: call_YS7YSIZMJMuveeslP9zHBkRc
  Args:
================================= Tool Message =================================
Name: clean_up

null

/home/nnaemeka/Desktop/business-copilot/.venv/lib/python3.13/site-packages/langmem/short_term/summarization.py:246: RuntimeWarning: Failed to trim messages to fit within max_tokens limit before summarization - falling back to the original message list. This may lead to exceeding the context window of the summarization LLM.
  warnings.warn(

================================= Tool Message =================================
Name: clean_up

null
================================== Ai Message ==================================

The country whose customers spent the most is the USA, with a total spending of 523.06.

In [13]:
question ="how much did USA spend again"
async for step in agent_mem.astream(
    {"messages": [{"role": "user", "content": question}]},
    config=config,
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

how much did USA spend again
================================ Human Message =================================

how much did USA spend again
================================== Ai Message ==================================

The customers from the USA spent a total of 523.06.

In [14]:
agent_mem.get_state(config)

StateSnapshot(values={'messages': [HumanMessage(content="Which country's customers spent the most?", additional_kwargs={}, response_metadata={}, id='a98975df-12d0-4239-972e-79110fc73cca'), AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_Fg4TK5HhifrbgBFk0O1zo6Uk', 'function': {'arguments': '{}', 'name': 'list_tables'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 10, 'prompt_tokens': 556, 'total_tokens': 566, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_80956533cb', 'id': 'chatcmpl-C5AkDBg9du39f0bnDlzhbcexYpq5a', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--ddf9e917-7fa0-438c-86b6-b76aa78cb58a-0', tool_calls=[{'name': 'list_tables', 'args': {}, 'id': 'call_Fg4TK5HhifrbgBFk0O1zo6Uk', 'type': 'tool_call'}], usage_metadata={'input_tokens': 556, 'output_tokens': 10, 'total_tokens': 566, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}), ToolMessage(content='["artist", "album", "employee", "customer", "invoice", "invoice_line", "track", "playlist", "playlist_track", "genre", "media_type"]', name='list_tables', id='b4ed47f5-9653-40bf-9a7e-f3964805013a', tool_call_id='call_Fg4TK5HhifrbgBFk0O1zo6Uk'), AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_W07OtF6mSE3XmX0VPGenah9K', 'function': {'arguments': '{"table_names":["customer","invoice"]}', 'name': 'get_relevant_schema_example'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 21, 'prompt_tokens': 610, 'total_tokens': 631, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_80956533cb', 'id': 'chatcmpl-C5AkEkbV0qefjDXwHQ7Ng3a4sKQFd', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--dbad36ef-41ff-4002-a848-90604adf4a1c-0', tool_calls=[{'name': 'get_relevant_schema_example', 'args': {'table_names': ['customer', 'invoice']}, 'id': 'call_W07OtF6mSE3XmX0VPGenah9K', 'type': 'tool_call'}], usage_metadata={'input_tokens': 610, 'output_tokens': 21, 'total_tokens': 631, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}), ToolMessage(content='CREATE TABLE "customer" (\n\t"customer_id" INTEGER NOT NULL,\n\t"first_name" NVARCHAR(40) NOT NULL,\n\t"last_name" NVARCHAR(20) NOT NULL,\n\t"company" NVARCHAR(80),\n\t"address" NVARCHAR(70),\n\t"city" NVARCHAR(40),\n\t"state" NVARCHAR(40),\n\t"country" NVARCHAR(40),\n\t"postal_code" NVARCHAR(10),\n\t"phone" NVARCHAR(24),\n\t"fax" NVARCHAR(24),\n\t"email" NVARCHAR(60) NOT NULL,\n\t"support_rep_id" INTEGER,\n\tPRIMARY KEY ("customer_id"),\n\tFOREIGN KEY("support_rep_id") REFERENCES "employee" ("employee_id")\n);\n\n/*\n3 rows from \'customer\' table:\n   customer_id first_name  last_name                                           company                          address                 city state  country postal_code               phone                 fax                  email  support_rep_id\n0            1       Luís  Gonçalves  Embraer - Empresa Brasileira de Aeronáutica S.A.  Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP   Brazil   12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566   luisg@embraer.com.br               3\n1            2     Leonie     Köhler                                              None          Theodor-Heuss-Straße 34            Stuttgart  None  Germany       70174    +49 0711 2842222                None  leonekohler@surfeu.de               5\n2            3   François   Tremblay                                              None                1498 rue Bélanger             Montréal    QC   Canada     H2G 1A7   +1 (514) 721-4711                None    ftremblay@gmail.com               3\n*/\n\nCREATE TABLE "invoice" (\n\t"invoice_id" INTEGER NOT NULL,\n\t"customer_id" INTEGER NOT NULL,\n\t"invoice_date" TIMESTAMP WITHOUT TIME ZONE NOT NULL,\n\t"billing_address" NVARCHAR(70),\n\t"billing_city" NVARCHAR(40),\n\t"billing_state" NVARCHAR(40),\n\t"billing_country" NVARCHAR(40),\n\t"billing_postal_code" NVARCHAR(10),\n\t"total" NUMERIC NOT NULL,\n\tPRIMARY KEY ("invoice_id"),\n\tFOREIGN KEY("customer_id") REFERENCES "customer" ("customer_id")\n);\n\n/*\n3 rows from \'invoice\' table:\n   invoice_id  customer_id invoice_date          billing_address billing_city billing_state billing_country billing_postal_code total\n0           1            2   2021-01-01  Theodor-Heuss-Straße 34    Stuttgart          None         Germany               70174  1.98\n1           2            4   2021-01-02         Ullevålsveien 14         Oslo          None          Norway                0171  3.96\n2           3            8   2021-01-03          Grétrystraat 63     Brussels          None         Belgium                1000  5.94\n*/\n\n', name='get_relevant_schema_example', id='8ab3d231-9418-4125-a26f-a875183ed581', tool_call_id='call_W07OtF6mSE3XmX0VPGenah9K'), AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_a8cEcWdySjU4ozFFTmFftF5u', 'function': {'arguments': '{"query":"SELECT c.country, SUM(i.total) AS total_spent \\nFROM customer c \\nJOIN invoice i ON c.customer_id = i.customer_id \\nGROUP BY c.country \\nORDER BY total_spent DESC \\nLIMIT 5;"}', 'name': 'double_check_query'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 64, 'prompt_tokens': 1320, 'total_tokens': 1384, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 1280}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_80956533cb', 'id': 'chatcmpl-C5AkHba9hWMbo0XROYufpKQ7c3E3S', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--907c40c3-6209-42ab-a0a2-e652446d3a71-0', tool_calls=[{'name': 'double_check_query', 'args': {'query': 'SELECT c.country, SUM(i.total) AS total_spent \nFROM customer c \nJOIN invoice i ON c.customer_id = i.customer_id \nGROUP BY c.country \nORDER BY total_spent DESC \nLIMIT 5;'}, 'id': 'call_a8cEcWdySjU4ozFFTmFftF5u', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1320, 'output_tokens': 64, 'total_tokens': 1384, 'input_token_details': {'audio': 0, 'cache_read': 1280}, 'output_token_details': {'audio': 0, 'reasoning': 0}}), ToolMessage(content=' \n\nThe original query looks good as it is. \n\n```sql\nSELECT c.country, SUM(i.total) AS total_spent \nFROM customer c \nJOIN invoice i ON c.customer_id = i.customer_id \nGROUP BY c.country \nORDER BY total_spent DESC \nLIMIT 5;\n```', name='double_check_query', id='59d113af-d2d7-4973-9e15-56dd2636aff3', tool_call_id='call_a8cEcWdySjU4ozFFTmFftF5u'), AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_u4LZ92XYEpqOYByIpBDmaLMm', 'function': {'arguments': '{"query":"SELECT c.country, SUM(i.total) AS total_spent \\nFROM customer c \\nJOIN invoice i ON c.customer_id = i.customer_id \\nGROUP BY c.country \\nORDER BY total_spent DESC \\nLIMIT 5;"}', 'name': 'execute_query'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 63, 'prompt_tokens': 1453, 'total_tokens': 1516, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 1280}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_80956533cb', 'id': 'chatcmpl-C5AkL1D7JoKlb4umORYJKM1bzZBJI', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--6ac73af1-3a1f-437d-a0c8-97cef0613bde-0', tool_calls=[{'name': 'execute_query', 'args': {'query': 'SELECT c.country, SUM(i.total) AS total_spent \nFROM customer c \nJOIN invoice i ON c.customer_id = i.customer_id \nGROUP BY c.country \nORDER BY total_spent DESC \nLIMIT 5;'}, 'id': 'call_u4LZ92XYEpqOYByIpBDmaLMm', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1453, 'output_tokens': 63, 'total_tokens': 1516, 'input_token_details': {'audio': 0, 'cache_read': 1280}, 'output_token_details': {'audio': 0, 'reasoning': 0}}), ToolMessage(content="[<Record country='USA' total_spent=Decimal('523.06')>, <Record country='Canada' total_spent=Decimal('303.96')>, <Record country='France' total_spent=Decimal('195.10')>, <Record country='Brazil' total_spent=Decimal('190.10')>, <Record country='Germany' total_spent=Decimal('156.48')>]", name='execute_query', id='4cdf9aaa-a63e-406d-8323-b12cec1ce03d', tool_call_id='call_u4LZ92XYEpqOYByIpBDmaLMm'), AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_YS7YSIZMJMuveeslP9zHBkRc', 'function': {'arguments': '{}', 'name': 'clean_up'}, 'type': 'function'}], 'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 10, 'prompt_tokens': 1610, 'total_tokens': 1620, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 1408}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_80956533cb', 'id': 'chatcmpl-C5AkMzh7UOAVvh7JyjrBTjycRlCod', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run--ed7d23d5-6733-4b22-95d4-3c695c301f97-0', tool_calls=[{'name': 'clean_up', 'args': {}, 'id': 'call_YS7YSIZMJMuveeslP9zHBkRc', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1610, 'output_tokens': 10, 'total_tokens': 1620, 'input_token_details': {'audio': 0, 'cache_read': 1408}, 'output_token_details': {'audio': 0, 'reasoning': 0}}), ToolMessage(content='null', name='clean_up', id='fb9ec741-8ca8-4276-9e4b-fb09b2f35312', tool_call_id='call_YS7YSIZMJMuveeslP9zHBkRc'), AIMessage(content='The country whose customers spent the most is the USA, with a total spending of 523.06.', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 22, 'prompt_tokens': 1629, 'total_tokens': 1651, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 1536}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_80956533cb', 'id': 'chatcmpl-C5AkPlUa6M2ycJXxQuDgucS5oGCob', 'service_tier': 'default', 'finish_reason': 'stop', 'logprobs': None}, id='run--be5670dd-3c10-4417-9eaf-7e35bbe28897-0', usage_metadata={'input_tokens': 1629, 'output_tokens': 22, 'total_tokens': 1651, 'input_token_details': {'audio': 0, 'cache_read': 1536}, 'output_token_details': {'audio': 0, 'reasoning': 0}}), HumanMessage(content='how much did USA spend again', additional_kwargs={}, response_metadata={}, id='a31b3a55-c475-4f3d-a54e-78500e727d20'), AIMessage(content='The customers from the USA spent a total of 523.06.', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 15, 'prompt_tokens': 1664, 'total_tokens': 1679, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 1536}}, 'model_name': 'gpt-4o-2024-08-06', 'system_fingerprint': 'fp_80956533cb', 'id': 'chatcmpl-C5AmCHQndb9MdBKvxFhOFPthcqNss', 'service_tier': 'default', 'finish_reason': 'stop', 'logprobs': None}, id='run--0625a34b-b8f6-43fd-be05-30e107a0722b-0', usage_metadata={'input_tokens': 1664, 'output_tokens': 15, 'total_tokens': 1679, 'input_token_details': {'audio': 0, 'cache_read': 1536}, 'output_token_details': {'audio': 0, 'reasoning': 0}})], 'context': {'running_summary': RunningSummary(summary='The user requested a query to determine which country\'s customers spent the most. The query was executed successfully, and the results showed the top five countries by total spending. The countries and their respective total spending amounts are as follows:\n\n1. USA: $523.06\n2. Canada: $303.96\n3. France: $195.10\n4. Brazil: $190.10\n5. Germany: $156.48\n\nThe query used joins between the "customer" and "invoice" tables, grouped the results by country, and ordered them by total spending in descending order, limiting the output to the top five countries.', summarized_message_ids={'b4ed47f5-9653-40bf-9a7e-f3964805013a', '8ab3d231-9418-4125-a26f-a875183ed581', 'run--6ac73af1-3a1f-437d-a0c8-97cef0613bde-0', 'run--ed7d23d5-6733-4b22-95d4-3c695c301f97-0', 'run--dbad36ef-41ff-4002-a848-90604adf4a1c-0', 'fb9ec741-8ca8-4276-9e4b-fb09b2f35312', 'run--907c40c3-6209-42ab-a0a2-e652446d3a71-0', '4cdf9aaa-a63e-406d-8323-b12cec1ce03d', 'run--ddf9e917-7fa0-438c-86b6-b76aa78cb58a-0', 'a98975df-12d0-4239-972e-79110fc73cca', '59d113af-d2d7-4973-9e15-56dd2636aff3'}, last_summarized_message_id='fb9ec741-8ca8-4276-9e4b-fb09b2f35312')}}, next=(), config={'configurable': {'thread_id': '1', 'checkpoint_ns': '', 'checkpoint_id': '1f07aa0a-f877-677f-8015-14f9b4e26f75'}}, metadata={'source': 'loop', 'step': 21, 'parents': {}}, created_at='2025-08-16T12:58:20.673197+00:00', parent_config={'configurable': {'thread_id': '1', 'checkpoint_ns': '', 'checkpoint_id': '1f07aa0a-eb9f-6a11-8014-3ef640e4e990'}}, tasks=(), interrupts=())